# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Python
__pycache__/
*.pyc
venv/
.venv/
janitor/report.json
janitor/summary.md

# LocalStack
.localstack/

# IDE
.vscode/
.idea/

# OS
.DS_Store
